{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<nav class="navbar">
    <div class="logo">
     <!--   <img src="images/logo.png" alt="College Logo"> 
        <h1>Cultural Hub</h1>-->
        {% if user.is_authenticated %}
        <h1> Hi {{user.username}} </h1>
        {% else %}
        <h1> you are not logged in{{user.username}}</h1>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    
    <ul class="nav-menu">
        <li><a href="{% url 'h' %}"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="{% url 'reg' %}"><i class="fas fa-users"></i> Participation</a></li>
        <li><a href="{% url 'event' %}"><i class="fas fa-bell"></i> Updates</a></li>
        <li class="dropdown">
            <a href="{% url 'add' %}"><i class="fas fa-cloud-upload-alt"></i> Upload <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
                <a href="{% url 'pdf' %}"><i class="fas fa-file-upload"></i> Documents</a>
                <a href="#"><i class="fas fa-image"></i> Images</a>
                <a href="#"><i class="fas fa-video"></i> Videos</a>
            </div>
        </li>
        <li><a href="{% url 'pdf' %}"><i class="fas fa-download"></i> Download</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</nav>