<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Cultural</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

{% if cul_list %}
    <table>
        <tr>
            <th>College</th>
            <th>Address</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
        {% for cultural in cul_list %}
        <tr>
            <td>{{ cultural.Clg_Name }}</td>
            <td>{{ cultural.Clg_Address }}</td>
            <td>{{ cultural.Event_Name }}</td>
            <td>{{ cultural.Date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>
